package home

templ Home() {
	<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Document</title>
			<!-- Tailwind css. -->
			<link href="static/css/tailwind.css" rel="stylesheet"/>
		</head>
		<body class="bg-black text-white">
			<h1 class="text-blue-500 text-5xl">asdf a sdf asd</h1>
		</body>
	</html>
}
