{{ define "Index" }}
	<!DOCTYPE html>
	<html lang="pt-br"\>
		<head>
			{{ template "BaseHeader.Partial" "Home Page" }}
		</head>
		<body class="p-5"\>

			<h1>Página Inicial</h1>
			<hr>
			<ul>
				<li><a href="#">Registrar-se</a></li>
				<li><a href="#">Entrar</a></li>
			</ul>

			<br>
			<h2>Pesquisar Por Nome De Usuário</h2>
			<hr>
			<p>Eu ainda preciso fazer a rota, guenta ai!</p>

			<br>
			<h2>Posts Recentes</h2>
			<hr>
			<p>Isso só vai ficar pronto beeeeem no futuro...</p>
{{ end }}
