{{ define "Index" }}
	<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			{{ template "BaseHeader.Partial" "Home Page" }}
		</head>
		<body class="pb-5">

			<div class="bg-dark shadow-md mb-3">
				<div class="container d-flex align-items-center justify-content-between px-4 py-2">
					<h1 class="text-white fs-2 mt-2">
						Go Postr
					</h1>
					<div class="d-flex gap-2">
						<a
							href="#"
							class="btn btn-outline-light"
						>Login</a>
						<a
							href="/signup"
							class="btn btn-light"
						>Signup</a>
					</div>
				</div>
			</div>

			<div class="container-sm mb-5">
				<form class="mb-5" action="GET">
					<div class="input-group">
						<input
							hx-get="/search/user"
							hx-trigger="keyup changed"
							hx-target="#search_results"
							hx-swap="innerHTML"
							data-bs-toggle="dropdown"
							type="text"
							class="form-control show"
							id="query"
							name="query"
							placeholder="Search by username"
							autocomplete="off">
						<ul
							id="search_results"
							class="dropdown-menu w-100 dropdown-menu-dark"></ul>
					</div>
				</form>

				<div
					hx-get="/get/articles"
					hx-trigger="intersect"
					class=""
				>
					<span class="spinner-grow text-secondary"></span>
				</div>
			</div>

		</body>
	</html>
{{ end }}
