{{ define "Index" }}
	<!DOCTYPE html>
	<html lang="pt-br"\>
		<head>
			{{ template "BaseHeader.Partial" "Home Page" }}
		</head>
		<body class="p-5"\>

			<h1>Página Inicial</h1>
			<hr>
			<ul>
				<li><a href="/signup">Registrar-se</a></li>
				<li><a href="#">Entrar</a></li>
			</ul>

			<br>
			<form action="GET">
				<label for="query" class="form-label">Pesquisar Usuário</label>
				<div class="input-group">
					<input
						hx-get="/search/user"
						hx-trigger="keyup delay:25ms changed"
						hx-target="#search_results"
						hx-swap="innerHTML"
						type="text"
						class="form-control"
						id="query"
						name="query"
						placeholder="Nome do usuário"
						aria-describedby="Caixa De Pesquisa De Usuário">
				</div>
			</form>
			<div id="search_results"></div>

			<br>
			<h2>Posts Recentes</h2>
			<hr>
			<ul
				hx-get="/get/articles"
				hx-trigger="intersect delay:1.5s"
			>
				<span class="spinner-grow text-secondary"></span>
			</ul>
{{ end }}
