{{define "Login"}}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		{{template "Components.Head" "Login Page"}}
	</head>
	<body>
		<div class="vw-100 vh-100 d-flex flex-column align-items-center">

			<main class="p-5 flex-grow-1 d-flex justify-content-center align-items-center">
				<div style="width: min(35ch, 100%)" class="card m-sm">
					<div class="card-header">
						Create a new account!
					</div>
					<div class="card-body">

						<form hx-post="/auth/create">
							<div class="mb-2" id="user_input">
								<label for="username" class="form-label">
									User name:
								</label>
								<input
									hx-post="/auth/validate/user"
									hx-trigger="keyup changed delay:180ms"
									hx-target="#user_field_info"
									hx-params="username"
									type="text"
									name="username"
									id="username"
									class="form-control"
									required
								/>
								<div class="mt-3" id="user_field_info"></div>
							</div>

							<div class="mb-3">
								<label for="password" class="form-label">
									Password:
								</label>
								<input
									hx-post="/auth/validate/password"
									hx-trigger="keyup changed delay:500ms"
									hx-target="#password_field_info"
									hx-params="password"
									type="password"
									name="password"
									id="password"
									class="form-control"
									required
								/>
								<div class="mt-3" id="password_field_info"></div>
							</div>

							<input type="submit" value="Create" class="btn btn-primary">
						</form>

					</div>
				</div>
			</main>

			{{template "Components.Footer"}}

		</div>
	</body>
</html>
{{end}}
