{{ define "CustomHeader" }}
	<title>Go Postr | Sign up</title>

	<script src="https://unpkg.com/htmx.org@1.9.10"></script>

	<script defer src="/js/signup_field_validation.js"></script>
{{ end }}

{{ define "Body" }}
	<div class="h-100 d-flex align-items-center justify-content-center">
		<div style="width: min(35ch, 100%)" class="card m-sm">
			<div class="card-body">

				<form method="put" action="/">
					<div class="mb-2" id="user_input">
						<label for="username" class="form-label">User name:</label>
						<input type="text"
									 name="username"
									 id="username"
									 class="form-control"
									 required
						       hx-post="/auth/validate/username"
						       hx-trigger="username-server-validation delay:500ms"
						       hx-target="#username_status"
						       hx-params="username">
						<div class="mt-3" id="username_status"></div>
					</div>

					<div class="mb-3">
						<label for="password" class="form-label">Password:</label>
						<input type="password"
									 name="password"
									 id="password"
									 class="form-control"
									 required>
						<div class="mt-3" id="password_status"></div>
					</div>

					<input type="submit" value="Create Account" class="btn btn-primary" disabled id="create_account">
				</form>

			</div>
		</div>
	</div>
{{ end }}
